<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // Add dark mode support
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-[#e3a45c] dark:bg-gray-900 text-gray-900 dark:text-white">
    <!-- Navigation -->
    <nav class="bg-[#101820] dark:bg-lime-800 shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-white dark:text-white text-lg hover:text-yellow-700">Personal Porfolio</span>
                        </a>
                    </div>
                </div>
                <div class="flex items-center space-x-1">
                    <a href="/" class="font-semibold py-4 px-2 text-white dark:text-gray-300 hover:text-yellow-700 ">Home</a>
                    <a href="/about" class="font-semiboldpy-4 px-2 text-white dark:text-gray-300 hover:text-yellow-700 ">About</a>
                    <a href="/projects" class="font-semibold py-4 px-2 text-white dark:text-gray-300 hover:text-yellow-700 ">Projects</a>
                    <a href="/contact" class="font-semiboldpy-4 px-2 text-white dark:text-gray-300 hover:text-yellow-700 ">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <main class="container mx-auto px-4 py-8">
        {% block content %}
        
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-[#e3a45c]  shadow-lg mt-8">
        <div class="max-w-6xl mx-auto px-4 py-4">
            <p class="text-center text-Stone-950 dark:text-gray-300">
                © 2025 Portfolio. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html> 